<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Sobre encomendas e entregas</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Toda nossa coleção é feita com a técnica japonesa Amigurumi. Trabalho totalmente artesanal/manual que permite a criação de pequenos bonecos de crochê ou tricô. As possibilidades vão além da coleção aqui exposta. Entre em contato através de nosso Whatsapp Business para orçar um modelo personalizado.</p>
            </div>
            <div class="col-lg-4">
                <p>Por se tratar de um processo totalmente manual e por utilizarmos os serviços dos correios pedimos a compreensão para um prazo de entrega entre 30 a 45 dias! Sabemos que demorado, mas pode ter certeza que valerá a pena!!!</p>
            </div>
        </div>
    </div>
</section>

